<br>
<br>
<div class="details">
            <h2>Details about {{ pet.name }}</h2><br>
            <img src="{{pet.img}}" alt="pet" width="250px" />
            <h3>Pet Type: {{ pet.type }}</h3><br>
            <h3>Pet Description: {{ pet.description }}</h3><br>
            <h3>Pet Skills:</h3><br>
            <p>{{ pet.skill_1 }}</p><br>
            <p>{{ pet.skill_2 }}</p><br>
            <p>{{ pet.skill_3 }}</p><br>
            <br>
            <h3>Likes:</h3>
            <br>
            <p>{{pet.likes}}</p>
        </div>
    <button class="solid" (click)="adoptPet(pet._id)">Adopt this Pet</button> &nbsp;&nbsp;
    <button class="solid" *ngIf="!liked" (click)="onLike(pet._id)">Like this Pet</button>
